# Dependencies
node_modules
.pnpm-store

# Build output
dist
.vite

# Environment variables
.env
.env.local
.env.production.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Figma
__figma__entrypoint__.ts
